[alias]
  graph = log --graph --date-order -C -M --pretty=format:\"%Cblue%h%Creset %ad [%cn] %Cgreen%d%Creset %s\" --date=short
  p = !git push origin `git rev-parse --abbrev-ref HEAD`
[user]
  name = grohiro
[http]
	sslVerify = true
  receivepack = true 
  postBuffer = 524288000
[https]
[color]
  ui = auto
[core]
  excludesfile = ~/.gitignore
  whitespace = cr-at-eol
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path = 
[diff]
	tool = nvimdiff
[credential]
[credential]
  helper = osxkeychain
[push]
  default = simple
[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
[init]
	defaultBranch = main
[pull]
	rebase = true
[merge]
  tool = nvimdiff
[mergetool "nvimdiff"]
  layout = "LOCAL,REMOTE,BASE / MERGED"
