# Backup files
*.swp
*.swo
*~
*.bak

tags
GTAGS
GPATH
GRTAGS

.vimrc.local
# https://github.com/is0n/jaq-nvim
.jaq.json

.DS_Store

# Ansible retry file
*.retry

# IntelliJ
projectFilesBackup
.idea
*.iml

.jshintrc
tslint.json

# Redis?
dump.rdb

# Visual Studio Code
.vscode/

#
.node_modules
.serverless
.serverless_plugins

.node-dev.json
php_errors.log

/node_modules/
/vendor/bundle

#
.env

.ctags.d/
gtags.conf

.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php

__pycache__
_typos.toml
