snippet vv "variable" i
<%= ${1} %>${0}
endsnippet

snippet veach
<% ${1:var}.each do |${2:arg}| %>
<% end %>
endsnippet

snippet vs
<% %>
endsnippet

snippet ftag
<%= form_tag(${1}) do |form| %>
<% end %>
endsnippet

snippet vtd "table td"
<td><%= ${1:var} %></td>
endsnippet

snippet rjs "Rails javascript"
<%= javascript_include_tag '${1:file}', 'data-turbolinks-track': 'reload' %>
endsnippet
