snippet mui "Material UI component"
import ${1:Name} from '@material-ui/core/$1';
endsnippet

snippet clog
console.log($1);
endsnippet

snippet jss "" i
JSON.stringify(${0})
endsnippet

snippet fnl "closure" wi
(${1}) => {${2}}${0}
endsnippet

snippet tryc "try/catch"
try {
	${0}
} catch (${1:ex}) {
	throw ex;
}
endsnippet

snippet fn "arrow function" i
(${1:arg}) => {
	$0
}
endsnippet

snippet afn "async function" i
async (${1:arg}) => {
	$0
}
endsnippet
