snippet vue
<template>
<div>
</div>
</template>

<script>
export default {
	name: '${1}',
	data () {
		return {
		}
	},
	props: [
	],
	components: {
	},
	methods: {
	}
}
</script>

<style scoped>
</style>
endsnippet

